# Database
DB_HOST=localhost          
DB_PORT=5432
DB_USER=faasri
DB_PASSWORD=your_password
DB_NAME=faasri_career
DATABASE_URL=postgres://faasri:your_password@localhost:5434/faasri_career

# Application
PORT=3000

# JWT
JWT_ACCESS_SECRET=your-access-secret
JWT_REFRESH_SECRET=your-refresh-secret
JWT_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=30d

# Password Hashing
BCRYPT_SALT_ROUNDS=10

# Email (untuk OTP & notifikasi)
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password

# CORS
CLIENT_URL=http://localhost:4200
