<div class="flex flex-col gap-3 xl:flex-row xl:items-center xl:justify-between">
  <div class="flex flex-1 flex-col gap-3 md:flex-row md:items-center">
    <label class="input input-bordered flex w-full items-center gap-2 rounded-xl md:max-w-md">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4 opacity-70"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          fill-rule="evenodd"
          d="M9 3a6 6 0 104.472 10.001l3.764 3.763a1 1 0 001.414-1.414l-3.763-3.764A6 6 0 009 3zm-4 6a4 4 0 118 0 4 4 0 01-8 0z"
          clip-rule="evenodd"
        />
      </svg>

      <input
        type="text"
        class="grow"
        [placeholder]="searchPlaceholder"
        [ngModel]="search"
        (ngModelChange)="onSearchChange($event)"
      />
    </label>
  </div>

  <div class="flex flex-col gap-2 md:flex-row md:items-center">
    @for (filter of filters; track filter.key) {
      <select
        class="select select-bordered rounded-xl text-sm"
        [ngModel]="filter.value"
        (ngModelChange)="onFilterChange(filter.key, $event)"
      >
        <option value="">{{ filter.label }}</option>
        @for (option of filter.options; track option) {
          <option [value]="option">{{ option }}</option>
        }
      </select>
    }

    @if (sortOptions.length > 0) {
      <div class="dropdown dropdown-end">
        <button
          class="select select-bordered flex items-center gap-2 rounded-xl text-sm"
          tabindex="0"
          type="button"
          aria-label="Sort options"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              d="M3 3a1 1 0 000 2h11a1 1 0 100-2H3zM3 7a1 1 0 000 2h7a1 1 0 100-2H3zM3 11a1 1 0 000 2h4a1 1 0 100-2H3z"
            />
          </svg>
          <span>Sort</span>
        </button>

        <ul
          tabindex="0"
          class="menu dropdown-content z-[1] mt-2 w-56 rounded-xl border border-base-300 bg-base-100 p-2 shadow"
        >
          @for (item of sortOptions; track item.key) {
            <li>
              <button
                type="button"
                class="flex items-center justify-between"
                [class.font-semibold]="sortBy === item.key"
                (click)="selectSort(item.key)"
              >
                <span>{{ item.label }}</span>
                @if (sortBy === item.key) {
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-4 w-4 text-primary"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"
                    />
                  </svg>
                }
              </button>
            </li>
          }
        </ul>
      </div>

      <button
        class="btn btn-ghost btn-square h-12 min-h-12 rounded-xl"
        type="button"
        (click)="toggleSortDirection()"
        [attr.aria-label]="sortDirection === 'asc' ? 'Ascending' : 'Descending'"
      >
        @if (sortDirection === 'asc') {
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z"
              clip-rule="evenodd"
            />
          </svg>
        } @else {
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M16.707 10.293a1 1 0 010 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l4.293-4.293a1 1 0 011.414 0z"
              clip-rule="evenodd"
            />
          </svg>
        }
      </button>
    }

    @if (actions.length > 0) {
      <div class="dropdown dropdown-end">
        <button
          class="btn btn-ghost btn-sm rounded-xl"
          tabindex="0"
          type="button"
          aria-label="More actions"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z"
            />
          </svg>
        </button>

        <ul
          tabindex="0"
          class="menu dropdown-content z-[1] mt-2 w-48 rounded-xl border border-base-300 bg-base-100 p-2 shadow"
        >
          @for (item of actions; track item.key) {
            <li>
              <button type="button" (click)="onAction(item.key)">{{ item.label }}</button>
            </li>
          }
        </ul>
      </div>
    }
  </div>
</div>
