<nav
  class="navbar bg-base-100 border-b border-base-200 px-6 shadow-elevation-3"
>
  <div class="container-app flex items-center w-full">
    <!-- Logo -->
    <div class="flex-1">
      <a href="/" class="inline-flex items-center gap-2">
        <img src="faasri_career_logo.png" alt="Faasri Careers" class="h-10" />
      </a>
    </div>  

    <!-- Menu -->
    <div class="flex items-center gap-4">
      <a routerLink="/register" class="btn btn-ghost font-semibold"> Sign Up </a>
      <a routerLink="/login" class="btn btn-ghost font-semibold"> Login </a>
    </div>
  </div>
</nav>
