<section class="relative w-full h-[500px] overflow-hidden">
  <img src="hero-home.png" alt="Hero" class="w-full h-full object-cover" />
  <div class="absolute inset-0 flex items-center">
    <div class="container-app px-6">
      <h1 class="text-4xl font-bold text-white leading-tight max-w-xl">
        Temukan Peluang Karier Anda <br />
        Telusuri Beragam Pilihan Karir di Faasri
      </h1>
      <p class="text-white/80 mt-4 max-w-lg text-sm leading-relaxed">
        Bergabunglah dengan kami di Faasri dan buka potensi anda, bekerja dengan
        tim yang bersemangat, dan buat perbedaan nyata di dunia. Kami dengan
        antusias enantikan kedatangan anda!
      </p>
    </div>
  </div>
</section>
