<div>
  <label class="mb-1 block text-sm font-medium text-base-content">
    {{ label() }}
  </label>

  <div class="relative">
    <input
      [type]="showPassword() ? 'text' : 'password'"
      class="input input-bordered w-full pr-14"
      [placeholder]="placeholder()"
      [value]="value()"
      (input)="onInput($any($event.target).value)"
    />

    <button
      type="button"
      class="btn btn-ghost btn-sm absolute right-1 top-1/2 -translate-y-1/2"
      (click)="showPassword.set(!showPassword())"
    >
      {{ showPassword() ? 'Hide' : 'Show' }}
    </button>
  </div>

  @if (showValidation()  && showHints()) {
    <div class="mt-2 flex flex-col gap-1">
      @if (!hasMinLength()) {
        <p class="text-xs text-error">• Password minimal 8 karakter</p>
      }

      @if (!hasUppercase()) {
        <p class="text-xs text-error">• Harus memiliki minimal 1 huruf besar</p>
      }

      @if (!hasNumber()) {
        <p class="text-xs text-error">• Harus memiliki minimal 1 angka</p>
      }

      @if (!hasSymbol()) {
        <p class="text-xs text-error">• Harus memiliki minimal 1 simbol</p>
      }

      @if (isValid()) {
        <p class="text-xs text-success">✓ Password sudah memenuhi semua ketentuan</p>
      }
    </div>
  }
</div>
