  <div class="card bg-base-100 w-full max-w-3xl shadow-xl flex flex-row overflow-hidden p-1 mt-12">
    <!-- HERO IMAGE -->
    <div class="relative w-80 hidden md:block flex-shrink-0">
      <img src="heroauth.png" alt="Hero" class="w-full h-full object-cover" />
    </div>
    <!-- FORM SECTION -->
    <div class="card-body flex flex-col justify-center flex-1">
      <div class="flex flex-col items-center gap-1 pt-5">
        <h2 class="text-header-3 font-bold text-base-content text-center">
          Hai, Selamat Datang Kembali
        </h2>
        <p class="text-medium text-base-content/60 text-center">
          Baru di Faasi Careers?
          <a routerLink="/register" class="text-link text-primary"> Daftar Gratis </a>
        </p>
      </div>

      <!-- ERROR MESSAGE -->
      @if (errorMessage) {
        <div class="alert alert-error text-sm py-2 mt-3">{{ errorMessage }}</div>
      }

      <!-- INPUT FORM -->
      <form class="flex flex-col gap-4 mt-4" (ngSubmit)="onLogin()">
        <input
          type="email"
          placeholder="Masukkan alamat email"
          class="input input-bordered w-full text-medium"
          [(ngModel)]="email"
          name="email"
          required
        />
        <input
          type="password"
          placeholder="Masukkan kata sandi"
          class="input input-bordered w-full text-medium"
          [(ngModel)]="password"
          name="password"
          required
        />
        <button  type="submit" class="btn btn-primary-faasri w-full" [disabled]="isLoading">
          @if (isLoading) {
            <span class="loading loading-spinner loading-sm"></span>
          } @else {
            Masuk
          }
        </button>
        <div class="text-right">
          <a href="#" class="text-link"> Lupa kata sandi? </a>
        </div>
        <label class="flex items-center gap-2 text-sm cursor-pointer">
          <input type="checkbox" class="checkbox checkbox-sm" />
          Ingat perangkat ini
        </label>
        <p class="text-medium text-base-content/50 text-center">
          Dengan melanjutkan, kamu menerima
          <a href="#" class="text-link">Syarat Penggunaan</a> dan
          <a href="#" class="text-link">Kebijakan Privasi</a> kami.
        </p>
      </form>
    </div>
  </div>
