<div class="flex flex-col gap-6">
  <app-work-experience-section
    [data]="{
      hasExperience: data.hasExperience,
      experiences: data.experiences,
    }"
    (dataChange)="onWorkSectionChange($event)"
  ></app-work-experience-section>

  <app-technical-skill-section
    [data]="{
      technicalSkills: data.technicalSkills,
      technicalSkillsDescription: data.technicalSkillsDescription,
      languages: data.languages,
    }"
    (dataChange)="onTechnicalSkillSectionChange($event)"
  />

  <app-certification-section
    [data]="{
      certifications: data.certifications,
    }"
    (dataChange)="onCertificationSectionChange($event)"
  />
</div>
